<template>
  <div>
    <h4>Choose difficullty</h4>

    <div>
      <button class="button" v-on:click="easyClicked">Easy</button>
      <button class="button" v-on:click="mediumClicked">Medium</button>
      <button class="button" v-on:click="hardClicked">Hard</button>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapActions } from "vuex";
export default {
  methods: {
    ...mapMutations(["setDifficulty"]),
    ...mapActions(["getNumberOfQuestionsForGivenCategory"]),
    easyClicked: function() {
      this.setDifficulty("easy");
      this.getNumberOfQuestionsForGivenCategory();
    },
    mediumClicked: function() {
      this.setDifficulty("medium");
      this.getNumberOfQuestionsForGivenCategory();
    },
    hardClicked: function() {
      this.setDifficulty("hard");
      this.getNumberOfQuestionsForGivenCategory();
    },
  },
};
</script>

<style>
.button {
  background: rgb(122, 121, 120);
  width: 8em;
  color: whitesmoke;
  border: 0;
  margin: 1em;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.button:active {
  background-color: green;
}
.button:focus {
  background-color: green;
}

h4 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
</style>
