<template>
  <div class="container">
    <h2>Trivia Game</h2>
    <TriviaCategoryItem />
    <TriviaDifficultyItem />
    <TriviaNumberOfQuestionsItem />
    <TriviaStartGameItem />
  </div>
</template>

<script>
//import { getAllCategories } from '../../util/triviaAPI'
import TriviaCategoryItem from "./TriviaCategoryItem.vue";
import TriviaDifficultyItem from "./TriviaDifficultyItem.vue";
import TriviaNumberOfQuestionsItem from "./TriviaNumberOfQuestionsItem.vue";
import TriviaStartGameItem from "./TriviaStartGameItem.vue";
import { mapActions, mapMutations } from "vuex";

export default {
  name: "TriviaStartPage",
  components: {
    TriviaCategoryItem,
    TriviaDifficultyItem,
    TriviaNumberOfQuestionsItem,
    TriviaStartGameItem,
  },
  method: {
    ...mapMutations(["setRequestedQuestions"]),
    ...mapActions(["getQuestions"]),
  },
};
</script>

<style>
.container {
  width: 35em;
  margin: 2em auto;
  padding: none;
  border: 3px;
  border-color: aqua;
}

h2 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}
</style>
