<template>
  <div class="container">
    <h4>Choose Category</h4>
    <select class="category-select" @change="onChange($event)">
      <option v-for="category in getterCategories" :key="category.id">{{
        category.name
      }}</option>
    </select>
  </div>
</template>

<script>
//import { getAllCategories } from '../../util/triviaAPI'
//import TriviaCategoryItem from './TriviaCategoryItem.vue'
//import TriviaDifficultyItem from './TriviaDifficultyItem.vue'
//import TriviaNumberOfQuestionsItem from './TriviaNumberOfQuestionsItem.vue'

import { mapState, mapActions, mapGetters, mapMutations } from "vuex";

export default {
  name: "TriviaCategoryItem",
  computed: {
    // mapState: name is connected to store
    ...mapState(["categories"]),
    ...mapGetters(["getterCategories"]),
  },
  methods: {
    // mapActions: function name the same as store
    ...mapActions(["getCategories", "getNumberOfQuestionsForGivenCategory"]),
    ...mapMutations(["setCategory"]),
    onChange(event) {
      // Do not like this soluiton. But could not get id just the name
      const arr = this.categories;
      arr.forEach((element) => {
        if (event.target.value === element.name) {
          this.setCategory(element.id);
          this.getNumberOfQuestionsForGivenCategory();
        }
      });
    },
  },
  created() {
    this.getCategories();
    this.getNumberOfQuestionsForGivenCategory();
  },
};
</script>

<style>
.category-select {
  background: rgb(122, 121, 120);
  color: whitesmoke;
  border: 0;
  padding: 1em 1em;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.container {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0;
  padding: none;
}

h4 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
</style>
