<template>
  <div>
    <h4>Enter the number of questions you would like to answer</h4>
    <input id="numberOfQuestions" type="text" @change="onChange($event)" />
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
export default {
  name: "TriviaNumberOfQuestionsItem",
  methods: {
    ...mapMutations(["setNumberOfQuestions"]),
    ...mapGetters(["getterMaxNumberOfQuestions"]),
    onChange(event) {
      console.log("change");
      let currentlyChosenNumberOfQuestions = event.target.value;
      if (
        currentlyChosenNumberOfQuestions > this.getterMaxNumberOfQuestions()
      ) {
        currentlyChosenNumberOfQuestions = this.getterMaxNumberOfQuestions();
        document.getElementById(
          "numberOfQuestions"
        ).value = currentlyChosenNumberOfQuestions;
      }
      this.setNumberOfQuestions(currentlyChosenNumberOfQuestions);
    },
  },
};
</script>

<style>
h4 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
</style>
