<template>
  <div>
    <button class="button1" v-on:click="startTrivia">START</button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions(["getQuestions", "updateQuestionAlternatives"]),
    ...mapGetters(["getterMaxNumberOfQuestions, getterNumberOfQuestions"]),
    async startTrivia() {
      await this.getQuestions();
      //TODO: Alert user that he or she have chosen too many questions
      await this.updateQuestionAlternatives();
      this.$router.push("/questions");
    },
  },
};
</script>

<style>
.button1 {
  background: rgb(162, 247, 123);
  width: 12em;
  border-radius: 20em;
  letter-spacing: 0.2em;
  color: black;
  border: 0;
  margin: 1em;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
</style>
