<template>
  <button class="button" v-on:click="playAgain">Return to main screen</button>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "ResultReturnButtonItem",
  methods: {
    ...mapActions(["resetEverything"]),
    playAgain: function() {
      this.resetEverything();
      this.$router.push("/");
    },
  },
};
</script>

<style></style>
