<template>
  <h1>You earned {{ getterScore }} points!</h1>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "ResultScoreItem",
  computed: {
    ...mapGetters(["getterScore"]),
  },
};
</script>

<style></style>
