<template>
  <ol>
    <li
      v-for="(question, index) in getterRequestedQuestions"
      :key="question.id"
    >
      {{ question.question }}
      <ol>
        <li
          v-for="incorrect_answer in question.incorrect_answers"
          :key="incorrect_answer.id"
        >
          {{ incorrect_answer }}
        </li>
        <li>{{ question.correct_answer }}</li>
      </ol>
      <p><b class="coolt">Correct answer:</b> {{ question.correct_answer }}</p>
      <p>
        <b class="coolt">Your answer:</b> {{ getterSubmittedAnswers[index] }}
      </p>
      <hr />
    </li>
  </ol>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "ResultSolutionsItem",
  computed: {
    ...mapGetters(["getterRequestedQuestions", "getterSubmittedAnswers"]),
  },
};
</script>

<style>
hr {
  /* Solid programming */
  margin-left: -4.5em;
  width: 103.5%;
}
.coolt {
  font-weight: bold;
}
</style>
