<template>
  <div>
    <ResultScoreItem />
    <ResultSolutionsItem />
    <ResultReturnButtonItem />
  </div>
</template>

<script>
import ResultScoreItem from "./ResultScoreItem.vue";
import ResultSolutionsItem from "./ResultSolutionsItem.vue";
import ResultReturnButtonItem from "./ResultReturnButtonItem.vue";
export default {
  name: "Result",
  components: {
    ResultScoreItem,
    ResultSolutionsItem,
    ResultReturnButtonItem,
  },
};
</script>

<style scoped>
div {
  margin-left: 2em;
}
</style>
