<template>
  <div class="navbar">
    <h1 v-on:click="returnHome">GIVE UP</h1>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Navbar",
  methods: {
    ...mapActions(["resetEverything"]),
    returnHome: function() {
      this.resetEverything();
      this.$router.push("/");
    },
  },
};
</script>

<style scoped>
h1 {
  height: 60px;
  background-color: teal;
  margin: 0;
  padding-top: 0.25em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
</style>
