<template>
  <div>
    <h3>{{ this.getterCurrentQuestionName }}</h3>
    <QuestionAlternativesItem />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import QuestionAlternativesItem from "./QuestionAlternativesItem.vue";

export default {
  name: "Question",
  computed: {
    // mapState: name is connected to store
    ...mapGetters(["getterCurrentQuestionName"]),
  },
  components: {
    QuestionAlternativesItem,
  },
};
</script>

<style>
h3 {
  text-align: center;
  font-size: 3em;
}
</style>
