<template>
  <div>
    <div class="grid-container" v-if="this.getterQuestionType == 'multiple'">
      <div class="box" v-on:click="select($event)">
        {{ this.getterQuestions[0] }}
      </div>
      <div class="box" v-on:click="select($event)">
        {{ this.getterQuestions[1] }}
      </div>
      <div class="box" v-on:click="select($event)">
        {{ this.getterQuestions[2] }}
      </div>
      <div class="box" v-on:click="select($event)">
        {{ this.getterQuestions[3] }}
      </div>
    </div>
    <div class="grid-container" v-if="this.getterQuestionType == 'boolean'">
      <div class="box" v-on:click="select($event)">
        {{ this.getterQuestions[0] }}
      </div>
      <div class="box" v-on:click="select($event)">
        {{ this.getterQuestions[1] }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
export default {
  name: "QuestionAlternativesItem",
  computed: {
    // mapState: name is connected to store
    ...mapState(["currentQuestionIndex", "numberOfQuestions"]),
    ...mapGetters([
      "getterQuestions",
      "getterCorrectAnswer",
      "getterQuestionType",
    ]),
  },
  methods: {
    ...mapActions([
      "updateQuestionAlternatives",
      "incrementQuestionIndex",
      "updateQuestionAlternatives",
      "incrementCorrectAnswers",
      "addSubmittedAnswer",
    ]),
    select(event) {
      this.addSubmittedAnswer(event.target.textContent);
      if (event.target.textContent.trim() == this.getterCorrectAnswer) {
        this.incrementCorrectAnswers();
      }
      this.incrementQuestionIndex();
      if (this.numberOfQuestions <= this.currentQuestionIndex) {
        this.$router.push("/result");
      } else {
        this.updateQuestionAlternatives();
      }
    },
  },
  created() {
    this.updateQuestionAlternatives();
  },
};
</script>

<style>
.grid-container {
  display: grid;
}
.box {
  background: rgb(114, 114, 119);
  color: whitesmoke;
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em;
}

.box:hover {
  background: pink;
  color: black;
}
</style>
